# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS metadata
.DS_Store

# Node modules
node_modules/

# Logs
*.log

